body {
    background: rgb(229, 235, 249);
}

h1 {
    font-family: "Shantell Sans", cursive;
    color: #7089cc;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 15px;
}

p {
    font-family: "Shantell Sans", cursive;
    margin-left: 60px;
    margin-bottom: 30px;
    color: #79a2e0;
}