:root {
    --header-back-color: #d4ddf6;
    --header-hover-back-color: #d4ddf6;
    --header-border-color: #d4ddf6;
    --header-fore-color: #7089cc;
}

header {
    height: 56px;
}

.button {
    font-family: "Shantell Sans", cursive;
    font-size: 20px;
}

.right_align {
    height: 50px !important;
    font-size: 20px !important;
    position: absolute;
    right: 0;
    padding-right: 15px;
}


/* Dropdown menus */
.calm-dropdown, .study-dropdown, .fun-dropdown {
    float: left;
    overflow: hidden;
}


.calm-dropdown .dropbtn, .study-dropdown .dropbtn, .fun-dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.calm-content, .study-content, .fun-content {
    display: none;
    position: absolute;
    background-color: #d4ddf6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.calm-content a, .study-content a, .fun-content a {
    font-size: 16px !important;
    font-family: "Shantell Sans", cursive;
    float: none;
    color: #7089cc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.calm-content a:hover, .study-content a:hover, .fun-content a:hover {
    background-color: #bac8ee;
}


.calm-dropdown:hover .calm-content, .study-dropdown:hover .study-content, .fun-dropdown:hover .fun-content {
    display: block;
}

#lotus {
    justify-content: left;
    width: 60px;
    height: 40px;
    margin-left: 8px;
    margin-top: 5px;
}

.whole-bar {
    display: grid;
    grid-template-columns: 100px 1000px;
}