body {
    background: rgb(229, 235, 249);
}

.quote {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 70%;
    height: auto;
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orange; */
    margin-top: 215px;
}

.right {
    margin-left: 25px;;
}

.left {
    margin-left: 25px;
}

/* .arrow-button {
    width: 500px;
    /* transform: translate(0%, 500%); */


#myDiv{
    left: 0px;
    width: 100%;
}